<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}">
<meta charset="UTF-8">


<head>
    <link rel="stylesheet" href="/css/style.css">
</head>


<body>
<div class="card-body">
    <div layout:fragment="content">

<!-- 메시지 출력 -->
<div th:if="${message}" th:text="${message}"
     th:class="${status}"></div>

<!-- 추후 서 #authentication.principal로 바꾸는거 생각 -->
<div class="card-body">
    <form id="registerForm" action="/member/resetPW" method="post">
        <div class="input-group mb-3">
            <span class="input-group-text">ID</span>
            <input type="text" class="form-control" name="changePWAccountID" th:value="${changePWAccountID}" readonly>
        </div>
        <br>

        <div class="input-group mb-3">
            <span class="input-group-text">PW</span>
            <input type="password" class="form-control" name="mpassword" placeholder="새로운 비밀번호">
        </div> <br>


        <div class="input-group mb-3">
            <span class="input-group-text">PWCHECK</span>
            <input type="password" class="form-control" name="mpasswordCheck" placeholder="비밀번호 확인">
        </div> <br>


        <div class="my-4">
            <div class="float-end">
                <button type="submit" class="btn-submit">Submit</button>
                <button type="reset" class="btn-submit">Reset</button>
            </div>
        </div>

    </form>
</div><!--end card body-->

</body>
</html>